<a href="https://colab.research.google.com/github/2303a51027/ADM_Lab/blob/main/Program1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

data = pd.Series([1, 3, 5, 7, 9])
print(data)

0    1
1    3
2    5
3    7
4    9
dtype: int64

### Addition of Data Series

In [3]:
ds1 = pd.Series([1, 2, 3, 4, 5])
ds2 = pd.Series([2, 3, 3, 6, 8])

ds = ds1 + ds2
print(ds)

0     3
1     5
2     6
3    10
4    13
dtype: int64

## Subtraction of Data Series

In [6]:
ds1 = pd.Series([1, 2, 3, 4, 5])
ds2 = pd.Series([2, 3, 3, 6, 8])

ds = ds1 - ds2
print(ds)

0   -1
1   -1
2    0
3   -2
4   -3
dtype: int64

## Product of Data Series

In [4]:
ds1 = pd.Series([1, 2, 3, 4, 5])
ds2 = pd.Series([2, 3, 3, 6, 8])

ds = ds1 * ds2
print(ds)

0     2
1     6
2     9
3    24
4    40
dtype: int64

## Division of Data Series

In [5]:
ds1 = pd.Series([1, 2, 3, 4, 5])
ds2 = pd.Series([2, 3, 3, 6, 8])

ds = ds1 / ds2
print(ds)

0    0.500000
1    0.666667
2    1.000000
3    0.666667
4    0.625000
dtype: float64

# Import drive

In [7]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [8]:
#df=pd.read_csv("/content/banklist.csv")
#df

In [11]:
path = '/content/banklist.csv'
data = pd.read_csv(path)
data.head()
print(data.isnull().sum())

Bank Name                0
City                     0
ST                       0
CERT                     0
Acquiring Institution    0
Closing Date             0
Updated Date             0
dtype: int64